---
ssh: ascross

package: jackett
name: Jackett
version: 0.7.1609
architecture: any
firmware: 2.6.0

config:
  general:
    developer: "Jackett"
    website: "https://github.com/Jackett/Jackett"
    maintainer: "mafredri"
    email: "mafredri+adm@gmail.com"
    depends:
      - mono
    package: "PACKAGE"
    name: "NAME"
    version: "VERSION"
    architecture: "ARCHITECTURE"
    firmware: "FIRMWARE"
  adm-desktop:
    app:
      port: 9117
      protocol: http
      type: custom
      url: /
    privilege:
      accessible: users
      customizable: true
  register:
    boot-priority:
      start-order: 60
      stop-order: 60
    port:
      - 9117

case_sensitive: false
runpath: false
root:
files:
